<%= form_for(@booth, html: { class: 'form-inline' }) do |f| %>
  <% if @booth.errors.any? %>
    <div class="alert alert-danger">
      <ul class="form-errors">
      <% @booth.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :name, class: 'form-control', placeholder: 'Type a booth name' %>
  </div>

  <%= f.submit 'Start now', class: 'btn btn-default' %>
<% end %>
