<div class="container">
  <div class="row">
    <div class="text-center">
      <h2 class="text-warning">The booth you're looking for is not around here :(</h2>
      <h3>
        Do you want to <a href="<%= new_booth_path %>">create a new one?</a>
      </h3>
    </div>
  </div>
</div>
