<div class="row">
  <h1>PhotoBooth</h1>
</div>
<div class="row">
  <h4 class="section-title">Hall of fame</h4>
  <a class="btn btn-primary btn-lg pull-right" href="#new">
    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span> New clip
  </a>
</div>
<div class="row row-clip"></div>