<div class="row row-info text-center">
</div>
<div class="row text-center jumbotron">
<div class="col-md-8 col-md-offset-2">
    <video id="snap-preview" class="center-block" width="480" height="320" autoplay></video>
    <p class="text-primary message-countdown"></p>
</div>
<div class="col-md-2 text-right">
    <a href="#" class="btn btn-primary btn-start">
      <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start!
    </a>
</div>
</div>
</div>
<div class="row row-snapshots"></div>
<div class="cam-flash"></div>