<a href="#clips/<%= id %>">
  <div class="row clip-wrapper">
    <% _.each(snapshots, function(snapshot) { %>
      <div class="clip-content">
        <% if (snapshot.thumb_url.indexOf('processing') !== -1) { %>
            <p class="text-muted">
              <i class="fa fa-refresh fa-1x fa-spin clip-processing"></i>
            </p>
        <% } else { %>
            <img src="<%= snapshot.thumb_url %>" alt="">
        <% } %>
      </div>
    <% }) %>
  </div>
</a>
<div class="clip-votes text-right">
  <span><%= votes %></span><i class="fa fa-heart"></i>
</div>
