<div class="row row-info text-center">
</div>
<div class="row text-center jumbotron">
    <div class="col-md-8 col-md-offset-2">
        <video id="snap-preview" class="center-block" width="320" height="240" autoplay></video>
        <canvas id="snap-overlay" width="320" height="240"></canvas>
        <p class="text-primary message-countdown"></p>
    </div>
    <div class="col-md-2 text-right">
        <a href="#" class="btn btn-primary btn-start" disabled>
          <span class="fa fa-play fa-1x" aria-hidden="true"></span> Start
        </a>
    </div>
</div>
<div class="cam-flash"></div>
