<div class="row">
  <div class="js-message alert"></div>
</div>
<div class="row text-center jumbotron">
    <div class="col-md-8 col-md-offset-2">
        <video id="snap-preview" class="center-block" width="480" height="320" autoplay></video>
        <p class="text-primary message-countdown"></p>
    </div>
    <div class="col-md-2 text-right">
        <a href="#" class="js-start btn btn-primary" disabled>
          <span class="fa fa-play fa-1x" aria-hidden="true"></span> Start
        </a>
    </div>
</div>
<div class="js-flash flash"></div>
