<div class="row">
  <h1>New clip</h1>
</div>
<div class="row">
  <p class="text-info">Take your time to make a good impression.</p>
  <p class="text-info">When you\'re ready click start</p>
</div>
<div class="row text-center">
  <div class="booth-flash"></div>
  <video id="snap-preview" class="center-block" width="480" height="320" autoplay></video>
  <p id="message" class="text-primary"></p>
</div>
<div class="row text-right">
  <a href="#hall" class="btn btn-default btn-back">Back</a>
  <a href="#" class="btn btn-primary btn-start">Start!</a>
</div>
<div class="row row-snapshots"></div>