/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootswatch/darkly/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";

.clip-group {
    float: left;
    margin: 0.5em;
    background: #fff;
    padding: 5px;
    width: 234px;

    .row {
        margin-left: auto;
        margin-right: auto;
        width: 224px;
    }
}

.clip-image-wrapper {
    margin: 6px;
    float: left;
}

.clip-image {
    width: 100px;
    height: 63px;
}

.clip-thumbnail {
    padding: 16x 0;
}

.clip-thumbnail-left {
    padding-right: 2.5px;
}

.clip-thumbnail-right {
    padding-left: 2.5px;
}

.booth-flash {
    background-color: white;
    display: none;
    position: absolute;
    width: 1170px;
    height: 100%;
}