/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootswatch/darkly/variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootswatch/darkly/bootswatch";
@import "font-awesome";

.alert-sm {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
}

.jumbotron {
  margin-bottom: 0;
}

.dashed {
  border-style: dashed;
}

section {
  margin-top: 60px;
}

.clip {
  float: left;
  background: #fff;
}

.clip-grid {
  float: left;
  margin-left: 5px;
  margin-bottom: 15px;

  .clip {
    margin-right: 5px;
    margin-bottom: 5px;
  }
}

.clip-full {
  width: 648px;
  margin-top: 21px; // TODO: Extract me!
  margin-left: auto;
  margin-right: auto;

  .clip {
    margin: 0;
  }
}

.clip-group {
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
}

.clip-group-sm {
  width: 282px;

  img, p {
    width: 129px;
    height: 81.27px;
  }

  p {
    border: 1px solid #605e5e;
    border-radius: 4px;
    float: left;
    margin: 0;
    text-align: center;
  }

  .clip-frame {
    margin: 6px;
    float: left;

    .clip-processing {
      line-height: 4em;
    }
  }
}

.clip-group-md {
  width: 648px;

  img, p {
    width: 300px;
    height: 200px;
  }

  p {
    border: 1px solid #605e5e;
    border-radius: 4px;
    float: left;
    margin: 0;
    text-align: center;
  }

  .clip-frame {
    margin: 12px;
    float: left;

    .clip-processing {
      line-height: 4em;
    }
  }
}

.clip-group-wrapper {
  display: inline-block;
}

.clip-votes {
  color: #000;
  padding: 6px;

  span {
    margin-right: 7px;
    display: inline-block;
  }
}

.clip-actions {
  float: right;
  display: inline-block;
  margin-top: 10px;
}

.cam-flash {
    background-color: white;
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.92;
    z-index: 999;
}

.message-fail {
    font-size: 2em;
}

.message-no-clips {
    margin: 10px;
    font-size: 2em;
}

.message-show-more {
  margin: 10px;
  cursor: pointer;
}

p.message-countdown {
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 0;
}

.row-info {
  font-size: 1.5em;
}

.row-clip {
    margin-left: -22.5px;
    margin-right: -22.5px;
}
